.taskHeader{
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 10px;
}
.headerBackLog{
    background: #e3e3e3;
    color: #8f837d;
    width: 100px;
    font-size: 24px;
}
.headerInProccess{
    background: #d6e7ff;
    color: #3e8def;
    width: 150px;
    font-size: 24px;
}
.headerDone{
    background: #d7f9e0;
    color: #6fe049;
    width: 100px;
    font-size: 24px;
}
.headerBin{
    background: #fbe3e3;
    color: #d5837b;
    width: 125px;
    font-size: 24px;
}

.taskCon{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.taskCon div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}